//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

configuration {
    font: "monospace 10";
    cache-dir: "/home/gusza/.rofi/cache";
    pid: "/home/gusza/.rofi/pid";
    cycle: false;
}

